.button-green {
    margin-top: 3%;
    background-color: #5CB85F;
    color: #fff;
    padding: 2%;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 100%;
    line-height: 20px;
}


.box {
    border-radius: 10px;
    position: flex;
    width: 1080px;
    height: 160px;
    margin-top: -30px;
    margin-left: 11cm;
}

.text-f-1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 200%;
}

.text-f-2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
}

.text-f-3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
}

.text-f-4 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
}

.footer .circle {

    width: 25px;
    height: 25px;
    border-radius: 40px;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #0D28A6;
}

.text-f-3 a {
    list-style: none;
    text-decoration: none;
}

.text-f-2 a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

.nav-small {
    display: none;
}

.boxcard {
    margin: 3%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

#cars-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.foto img {
    object-fit: cover;
    height: 200px;
}

.card-item {
    border-radius: 10px;
    background-color: #f1f3ff;
    width: 100%;
    margin: auto;
    display: grid;
    border-radius: 8px;
    box-shadow: black;
}

.card-item button {
    width: 100%;
    margin: 0;
    border-radius: 2px;
}

.desc {
    height: 500px;

}

.mid {
    margin-top: 0.5cm;
}

/* footer */
.tinggi {
    line-height: 40px;
}

.boxfooter {
    width: 100px;
    height: 34px;
    background: #0d28a6;
}

/* footer */